.grid {
    display: grid;
    grid-template-rows: 400px 400px 700px ;
    grid-template-columns: 700px 400px 700px;
  }



  .caja1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: green;
    color:white;
    display:flex;
    justify-content: center;
    
  }

  .caja2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: orange;
    color:white;
    display:flex;
    justify-content: center;
  }

  .caja3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: orangered;
    color:white;
    display:flex;
    justify-content: center;
  }

  .caja4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: red;
    color:white;
    display:flex;
    justify-content: center;
  }

  .caja5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: blue;
    color:white;
    display:flex;
    justify-content: center;
  }

  .caja6 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: yellow;
    color:white;
    display:flex;
    justify-content: center;
  }