* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



.Contenedores {

    border: 7px solid #bbbbbb;
    border-radius: 2%;
    display: inline-block;
    height: 100vh;






}

.Contenedor1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header {
    align-self: center;
    background-color: white;
    width: 900px;
    height: 70px;
    margin: 5px;
    border: 5px solid #16ec88;
    padding: 30px;


}

.Nav {
    align-self: center;
    background-color: white;
    width: 900px;
    height: 45px;
    margin: 5px;
    border: 5px solid #b60b91;
    padding: 30px;

}

.Contenedor2 {
    display: flex;
    flex-direction: row;
    align-items: end;

}

.Article {

    display: inline-block;



    background-color: white;
    width: 580px;
    height: 650px;
    margin: 5px;
    border: 5px solid #0b30d4;
    padding: 3px;


}


.Header2 {

    flex-direction: column;
    align-self: center;


    background-color: white;
    width: 550px;
    height: 50px;
    margin-bottom: 350px;
    border: 5px solid #08e738;
    padding: 15px;
}

.Section {
    flex-direction: column;
    align-self: center;



    background-color: white;
    width: 550px;
    height: 50px;
    margin: 5px;
    border: 5px solid #ae04b4;
    padding: 15px;

}

.Section2 {
    flex-direction: column;
    align-self: center;



    background-color: white;
    width: 550px;
    height: 50px;
    margin: 5px;
    border: 5px solid #ae04b4;
    padding: 15px;

}

.Footer {
    flex-direction: column;
    align-self: center;


    background-color: white;
    width: 550px;
    height: 50px;
    margin: 5px;
    border: 5px solid #dadd09;
    padding: 15px;

}


.Div {
    display: flex;
    flex-direction: column;
    align-items: left;


    align-self: center;
    background-color: white;
    width: 310px;
    height: 650px;
    margin: 5px;
    border: 5px solid #d1d40b;
    padding: 30px;
}

.Aside {

    flex-direction: column;
    align-self: center;


    background-color: white;
    width: 200px;
    height: 250px;
    margin: 5px;
    border: 5px solid #0eece1;
    padding: 15px;
}

.Aside2 {

    flex-direction: column;
    align-self: center;


    background-color: white;
    width: 200px;
    height: 250px;
    margin: 5px;
    border: 5px solid #0eece1;
    padding: 15px;
}


.Contenedor3 {
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.Footer2 {


    align-self: center;
    background-color: white;
    width: 900px;
    height: 45px;
    margin: 5px;
    border: 5px solid #b69c0b;
    padding: 30px;
}